* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: #b6b6b6;
    padding-top: 100px;
}

#nome {
    background-image: url(Imagens/Icon.png);
    background-size: 10px;
    background-repeat: no-repeat;
}

#tel {
    background-image: url(Imagens/Phone.png);
    background-size: 10px;
    background-repeat: no-repeat;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

header {
    margin-bottom: 15px;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 50%;
}

.opened {
    animation: open 1s forwards;
    animation-timing-function: ease;
}

@keyframes open {
    0% {
        transform: scale(0);
    }

    60%{
        transform: scale(1.2 0.6);
    }

    100% {
        transform: scale(2 0.5);
    }
    }
}

.closed{
    display: none;
}

@keyframes close-d {
    from {
        scale: 1;
    }

    to {
        scale: 0;
    }
}

/* table hr {
    border: 1px inset;
} */

/* 
@media (max-width: 850px) {
    body > header > .container {
        flex-flow: column;
    }
    
    section > .container {
        width: auto!important;
    }
} 