/* {
    box-sizing: border-box;
} */

:root {
    --cards: #ffebcd
}

body {
    background-color: #d6b386;
    margin: 0px;
    margin-top: 5px;
}

.container {
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
}

hr {
    border: 2px solid rgba(92, 12, 32, 0.699);
    border-radius: 10px;
    width: 100%;
    margin: 0px;
}
