
.containerL img {
    width: 150px;
    cursor: pointer;
}

header #logos img {
    width: 50px;
    cursor: pointer;
}

header #logos img:hover {
    filter: saturate(3);
}

header ul#logos {
    background-color: var(--cards);
    border-radius: 10px 0px 0px 100px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 230px;
}

header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-top: 0px;
    font-family: 'Lilita One', cursive;
    font-weight: 100;
    color: rgb(92, 45, 45);
    align-content: space-between;
    background-color: var(--cards);
    width: 325px;
    border-radius: 0px 10px 80px 0px;
}

h1 p{
    margin-right: 30px;
}

.container hr {
    border: 2px solid rgba(92, 12, 32, 0.699);
    border-radius: 10px;
    width: 50%;
}

/* #redirects {padding-left: auto;} */

/* #redirects li {
    display: inline-flex;
    padding: 5px;
    background-color: rgb(233, 193, 160);
    font-size: 15px;
    font-family: 'changa', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

#redirects li:hover {
    background-color: rgb(153, 114, 63);
}

#Int {
    border-radius: 10px 0px 0px 10px;
}

#Loj {
    border-radius: 0px 10px 10px 0px;
}

#redirects a {
    text-decoration: none;
    color: black;
} */

/* .containerL {
    background-color: var(--cards);
    width: 305px;
    border-radius: 0px 10px 80px 0px;
} */
