.containerL img {
    width: 150px;
    cursor: pointer;
}

header #logos img {
    width: 50px;
    cursor: pointer;
}

header #logos img:hover {
    filter: saturate(3);
}

header ul#logos {
    /* mantem o negócio em cima */
    position: sticky;
    top: 0;

    background-color: var(--cards);
    border-radius: 10px 0px 0px 100px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 230px;
}

.containerL div{
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
}

header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Lilita One', cursive;
    font-weight: 100;
    color: rgb(92, 45, 45);
    align-content: space-between;
    background-color: var(--cards);
    width: 325px;
    border-radius: 0px 10px 80px 0px;
}

h1 p {
    margin-right: 30px;
}